.enter {
  .overlay {
    opacity: 0;
  }

  .drawer {
    &.right {
      transform: translateX(400px);
    }
    &.left {
      transform: translateX(-400px);
    }
  }
}

.enterActive {
  .overlay {
    transition: opacity 300ms ease-out;
    opacity: 1;
  }

  .drawer {
    transform: translateX(0px);
  }
}

.exit {
  .overlay {
    opacity: 1;
  }

  .drawer {
    transform: translateX(0px);
  }
}

.exitActive {
  .overlay {
    opacity: 0;
    transition: opacity 300ms ease-out;
  }

  .drawer {
    &.right {
      transform: translateX(400px);
    }
    &.left {
      transform: translateX(-400px);
    }
  }
}

.overlay {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100vw;
  height: 100vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
}

.drawer {
  position: fixed;
  top: 0;
  bottom: 0;
  padding: 16px;

  width: 400px;
  height: 100vh;

  background: white;
  color: white;

  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
  box-sizing: border-box;

  transition: transform 300ms ease-out;

  &.left {
    left: 0;
    border-bottom-right-radius: 16px;
    border-top-right-radius: 16px;
  }
  &.right {
    right: 0;
    border-bottom-left-radius: 16px;
    border-top-left-radius: 16px;
  }
}